{{ define "section_content" }}
<div class="flex-container">
    <aside role="complementary">
        {{ .Date.Format (.Site.Params.dateForm | default "Mon Jan 02, 2006") }} &#183; {{ .WordCount }} words
        <div class="tag-container">
            {{ range $term := .Params.tags }}
            {{ with $.Site.GetPage (printf "/%s/%s" "tags" $term | urlize) }}
            <span class="tag">
                <a href="{{ .RelPermalink }}">
                    {{ $term }}
                </a>
            </span>
            {{ end }}
            {{ end }}
        </div>
    </aside>
    <hr />
    <article role="article">
        {{ .Content }}
    </article>

</div>

<div class="show-comments">
    <button id="show-comments-button" onclick="disqus();return false;">Show Comments</button>
</div>

<div id="disqus_thread"></div>

<script>
    var disqus_loaded = false;
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    function disqus() {
        if (!disqus_loaded)  {
            document.getElementById("show-comments-button").style.display = "none";
            disqus_loaded = true;
            var d = document, s = d.createElement('script');
            s.src = 'https://matze0.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        }
    };
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{{ end }}

{{ define "bottom-menu" }}
<nav role="navigation" class="flex-container bottom-menu">
    {{ partial "bottom_menu.html" (dict "Page" . "show_back_menu_item" true) }}
</nav>
{{ end }}